<h2>{{name}}</h2>
<hr />

{{outlet}}

<h3 class="block-to-inline">Items</h3>
  {{#link-to 'new-item' this.id}}
    <button class="btn btn-xs btn-info">Add new?</button>
  {{/link-to}}
<hr />

<ul class="all-items">
{{#each items}}
  {{#link-to 'item' this.id}}
    <li class="this-item">
      <img {{bind-attr src=imageURL}}>
      <h5>{{name}}</h5>
    </li>
  {{/link-to}}
{{/each}}
</ul>

<div class="footer">
  <button {{action "delete"}} class="btn btn-xs btn-danger">
    Delete {{name}} lot?
  </button>
</div>
